<%= form_with(model: client, local: true) do |form| %>
  <% if client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome, id: :client_nome %>
  </div>

  <div class="field">
    <%= form.label :apelido %>
    <%= form.text_field :apelido, id: :client_apelido %>
  </div>

  <div class="field">
    <%= form.label :email %><br />
    <%= form.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= form.label :nascimento %>
    <%= form.datetime_select :nascimento, id: :client_nascimento %>
  </div>  

  <div class="field">
    <%= form.label :cpf %>
    <%= form.text_field :cpf, id: :client_cpf %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= form.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %><br />
    <%= form.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
