<%= form_with(model: client, local: true) do |form| %>
  <% if client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row" ">   
  <div class="col-sm-6" > 
    <h2> Dados do Cliente </h2>
      <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome, id: :client_nome %>
  </div>

  <div class="field">
    <%= form.label :apelido %>
    <%= form.text_field :apelido, id: :client_apelido %>
  </div>

  <div class="field">
    <%= form.label :email %><br />
    <%= form.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= form.label :nascimento %>
    <%= form.datetime_select :nascimento, id: :client_nascimento %>
  </div>  

  <div class="field">
    <%= form.label :cpf %>
    <%= form.text_field :cpf, id: :client_cpf %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= form.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %><br />
    <%= form.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  </div>  
  <div class="col-sm-6"> 
    <h2> Endereço do Cliente </h2>
      <%= form.fields_for :adress do |adress_fields| %>
    <div class="field">
      <%= adress_fields.label :rua %>
      <%= adress_fields.text_field :rua, id: :adress_rua %>
    </div>

    <div class="field">
      <%= adress_fields.label :bairro %>
      <%= adress_fields.text_field :bairro, id: :adress_bairro %>
    </div>

    <div class="field">
      <%= adress_fields.label :cidade %>
      <%= adress_fields.text_field :cidade, id: :adress_cidade %>
    </div>

    <div class="field">
      <%= adress_fields.label :estado %>
      <%= adress_fields.text_field :estado, id: :adress_estado %>
    </div>

    <div class="field">
      <%= adress_fields.label :cep %>
      <%= adress_fields.text_field :cep, id: :adress_cep %>
    </div>   

  <% end %>
  
   <div id="contacts">
    <%= form.fields_for :contacts do |contacts_fields| %>
      <%= render partial:"contact_fields", locals: {f: contacts_fields} %>
      <% end %>
      <%= link_to_add_association('[Adicinar Contato]',form, :contacts) %>
  </div>

  </div>  
  <div class="actions">
    <%= form.submit %>
  </div>
</div>      
  
<% end %>
