<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @client.nome %>
</p>

<p>
  <strong>Apelido:</strong>
  <%= @client.apelido %>
</p>

<p>
  <strong>Nascimento:</strong>
  <%= @client.nascimento %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @client.cpf %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
